.hero-image {
    max-width: 100%;
    height: auto;
    border-radius: 25px; /* Bordes redondeados para la imagen */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Sombra para resaltar la imagen */
}

.hero-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #007bff;
}

.hero-description {
    font-size: 1.2rem;
    color: #555;
}

.btn-primary,
.btn-outline-secondary {
    font-size: 1.2rem;
    margin-top: 10px; /* Espaciado superior para separar los botones del texto */
}