body {
    background-color: #ffffff;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente principal */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif; /* Fuente para encabezados */
    font-weight: bold;
    color: #007bff; /* Color de los encabezados */
}
