<div class="container mt-5" id="contact-section">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="map-container">
                <iframe class="map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224183.22695897225!2d-74.0479!3d40.7025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2590035af4da9%3A0x8c4c7fe1168c8cb5!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2suk!4v1637981969981!5m2!1sen!2suk"
                        allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="contact-form">
                <h3 class="mb-4">Contáctanos</h3>
                <form action="#" method="post">
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="correo" name="correo" required>
                    </div>
                    <div class="mb-3">
                        <label for="mensaje" class="form-label">Mensaje</label>
                        <input type="email" class="form-control" id="mensaje" name="mensaje" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                </form>
            </div>
        </div>
    </div>
</div>