<section class="py-5" id="caracteristicas">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-cogs fa-4x mb-4"></i>
                        <h2 class="card-title">Feature 1</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin gravida
                            nibh vel velit auctor aliquet.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-chart-bar fa-4x mb-4"></i>
                        <h2 class="card-title">Feature 2</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin gravida
                            nibh vel velit auctor aliquet.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-users fa-4x mb-4"></i>
                        <h2 class="card-title">Feature 3</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin gravida
                            nibh vel velit auctor aliquet.</p>
                    </div>
                </div>
            </div>
            <!-- Agrega más features según sea necesario -->
        </div>
    </div>
</section>
