<!--https://assets.stickpng.com/images/61d183263a856e0004c6334a.png-->
<main>
    <div class="container col-xxl-8 px-4 py-5" id="inicio">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
                     height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Responsive left-aligned hero with image</h1>
                <p class="lead">The responsive left-aligned hero with image is a popular design choice for creating
                    visually impactful and attention-grabbing website headers. In this design, the hero section is
                    positioned on the left side of the page, allowing the image to take center stage. The hero image can
                    be a captivating photograph, an illustration, or a visually appealing graphic that represents the
                    website's purpose or theme.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
                </div>
            </div>
        </div>
    </div>
</main>