<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 fixed-top mb-3 navbar-transitions">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">DBook Inc</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav text-center">
                <li class="nav-item">
                    <a class="nav-link mx-2 active" aria-current="page" href="#inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#caracteristicas">Características</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#testimonios">Testimonios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2" href="#contact-section">Contacto</a>
                </li>
                <li class="nav-item">
                    <button id="registroButton" class="btn btn-info mx-2 mb-2">Registro</button>
                </li>
                <li class="nav-item">
                    <button id="loginButton" class="btn btn-success mx-2 mb-2">Login</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
